xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xooooooooooxooooooxoooooooooox
xoxxxxxxxxoxoxxxxoxoxxoxxxxxox
xooooxxooooxoxxxxoxoxxoxxxxxox
xxoxoxxoxxxxoxxxxoxoxooxxoooox
xxoxoxxooooxoxxxxoxoxoxxxoxxxx
xxoxoxxoxxoxoxxxxoxoooxxxoooox
xxoxoxxoxxoooxxxxoooxxxxxxxxox
xxoooxxooooxxxxxxxxxxxxooooxox
xxoxxxxxxxxxooxooxxxxxxoxxoxox
xooxxxxoooxooxxxoooxxoooxooxox
xoxxxxxxxoxoxxxxxxoxooxxxoxxox
xoooooooooxooooooopooxxxxoooox
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx